header {
  background-color: #00897B;
  color: white;

}

.center {
  text-align: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  padding: 1%;
  background-color: #757575;
  border-radius: 50%;
}

h1, h2 {
  font-family: 'Bungee', serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header h1 {
  margin: 0;
  font-size: 50px;
}

header p {
  margin: 0;
  font-size: 16px;
}
